<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="fortuneService" class="org.example.spring_di_example.HappyFortuneService">
</bean>
<bean id="coach" class="org.example.spring_di_example.CricketCoach">
<constructor-arg name="fortuneService" ref="fortuneService"/>
</bean>

<bean id="address" class="org.example.spring_di_example.Address">

<constructor-arg name="addressLine1" value="Hyderabad"/>
<constructor-arg name="addressLine2" value="India"/>
</bean>

<bean id="person" class="org.example.spring_di_example.Person">
<constructor-arg name="address" ref="address"/>
<property name="personId" value="p1"/>
<property name="personName" value="John"/>
</bean>
</beans>
